{% extends 'base.html.twig' %}

{% block title %}Direction{% endblock %}

{% block body %}
    <h1>Direction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ direction.id }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ direction.street }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ direction.number }}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td>{{ direction.floor }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ direction.postalCode }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ direction.region }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ direction.other }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('direction_index') }}">back to list</a>

    <a href="{{ path('direction_edit', {'id': direction.id}) }}">edit</a>

    {{ include('direction/_delete_form.html.twig') }}
{% endblock %}
