{% extends 'base.html.twig' %}

{% block body %}


	{# <h2>page:
							{{page}}
					
							| Products:
							{{ products|length }}</h2> #}
	<div class="container m-0 m-auto w-5/6">
		<div class="flex align-middle">
			<div class="flex-none w-1/5 bg-green-50">
				<form action="/" method="GET">
					<div class="py-2 px-auto text-center">
						<button onclick="applyFilter()" class="btn btn-accept" type="button">
							Show result</button>
					</div>
					{#all categories#}
					{% include "product/category_accordion.html.twig" with {'title': "Types" } %}
					
				</form>
			</div>
			<div class="flex-1">
				<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
					{% for product in products %}

						{% include "product/product_card.html.twig" with {'product': product } %}

					{% endfor %}
				</div>
			</div>
		</div>

		<!--Paginator-->

		<div class="flex row justify-center m-6 ">
			<ul class="flex space-x-1">
				{% if 1 < totalPages %}
					{% if page > 1 %}
						<li class="inline py-1 px-2 ">
							<a class="page-link" href="{{path('product_index', {page: 1})}}" tabindex="-1">First</a>
						</li>
						<li class="inline py-1 pt-2">
							<a class="page-link" href="{{path('product_index', {page: page - 1})}}" tabindex="-1">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
								</svg>
							</a>
						</li>
					{% endif %}

					<!--Show 6 in total3 in each side-->
					{% for currentPage in range(0,totalPages - 1, 1)|slice(page > 3 ? (page - 3) : 1, 7) %}
						{% if currentPage == page %}
							<li class="inline py-1 px-2 border-b-2 border-green-500 font-bold">
								<a class="page-link" href="{{path('product_index', {page: currentPage})}}">{{ currentPage }}
								</a>
							</li>
						{% else %}
							<li class="inline py-1 px-2 ">
								<a class="page-link" href="{{path('product_index', {page: currentPage})}}">{{ currentPage }}</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if page < totalPages %}

						<li class="inline py-1 pt-2">
							<a class="page-link" href="{{path('product_index', {page: page + 1})}}" tabindex="-1">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
								</svg>
							</a>
						</li>
						<li class="inline py-1 px-2">
							<a class="page-link" href="{{path('product_index', {page: totalPages})}}">Last ({{totalPages}})</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>

	<script>

		function applyFilter() {
let selectedCategories = getCheckedCategories();
const route = "{{ path('product_index', {page: '1'}) }}?" + selectedCategories;
console.log("route" + route)
window.location.href = route;
// todo categories filter
}
	</script>
{% endblock %}


{#<a href="{{ path('product_new') }}">Create new</a> #}
