<div class="flex justify-center items-center bg-gray-50 px-2">
	<div
		class="w-full bg-gray-50">
		{#Image link#}
		<div class="block justify-center h-56 bg-red-300">
			<div class="object-none m-auto w-full h-full bg-gray-400 bg-no-repeat bg-center bg-cover" style="background-image: url(https://loremflickr.com/400/340/iceream,book)">				<a class="z-40" href="{{ path('product_show', {'id': product.id}) }}">
					<div class="w-full h-full"></div>
				</a>
			</div>
		</div>

		{#Title link#}

		<div class="block justify-between items-start px-2 h-14">
		<div class="flex justify-between">
			<div class="p-2">
				<h1 class="text-gray-900 font-medium text-md-left font-poppins">
					<a href="{{ path('product_show', {'id': product.id}) }}">
						{{product.name}}
					</a>
				</h1>
				<p class="text-gray-500 font-nunito">{{ product.categories[0].name }}</p>
			</div>
			<div class="p-2 text-right">
				{% if product.percentReduction != null %}
					<div class="whitespace-nowrap font-bold">
						<div class=" text-green-500 text-teal-500 text-lg font-poppins">{{ product.getRetailPrice }}
							<span class="text-gray-500 font-semibold text-sm">€</span>
						</div>
					</div>
					<div class="whitespace-nowrap text-xs text-gray-500 line-through font-poppins">{{ product.price|number_format(2) }}
						€</div>
				{% else %}
					<div class="whitespace-nowrap text-teal-500 font-semibold text-lg font-poppins">{{ product.price|number_format(2) }}
						€</div>
				{% endif %}
			</div>
			</div>
		</div>


		<div class="block mx-4 my-1 min-w-min h-6">
			{% if product.percentReduction != null %}
				<div class="inline-block text-xs font-normal bg-red-100 py-1 px-2 rounded text-red-500 align-middle">Discount
					<span class="font-bold">-{{ product.percentReduction }}%</span>
				</div>
			{% endif %}
		</div>


		<div class="flex flex-row-reverse px-4 pb-1 h-10">
			<div class="w-1/2">
				<button class="btn btn-accept">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
						<path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"/>
					</svg>
					<a class="z-10" href="{#{path('')}#}">Add to Cart</a>
				</button>
			</div>
		</div>

	</div>
</div>
