{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}

	<div class="container bg-white max-w-3xl m-0 mx-auto border py-6">

		<!--images-->
		<div class="flex w-full h-96">
			{% for image in product.images %}
				<div class="h-full slide relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out hover:flex-grow" style="background-image:url('https://images.unsplash.com/photo-1533468432434-200de3b5d528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80')">
					<div class="h-5/6"></div>
				</div>
			{% endfor %}
		</div>


		<div class="m-4 p-2">
			<div class="pt-1">
				<div class="mb-2 text-sm">
					<span class="font-medium mr-2">{{ product.name }}</span>
					{{ product.description }}
				</div>
			</div>
			<div class="text-sm mb-2 text-gray-400 cursor-pointer font-medium">

				{% for category in product.categories %}
					<p>{{ category }}</p>
				{% endfor %}
			</div>

			<div class="block my-1 min-w-min h-6">
				{% if product.percentReduction != null %}
					<div class="inline-block text-xs font-normal bg-red-100 py-1 px-2 rounded text-red-500 align-middle">Discount
						<span class="font-bold">-{{ product.percentReduction }}%</span>
					</div>
				{% endif %}
			</div>

			<div class="p-2 text-right">
				{% if product.percentReduction != null %}
					<div class="whitespace-nowrap font-bold">
						<div class=" text-green-500 text-teal-500 text-lg font-poppins">{{ product.getRetailPrice }}
							<span class="text-gray-500 font-semibold text-sm">€</span>
						</div>
					</div>
					<div class="whitespace-nowrap text-xs text-gray-500 line-through font-poppins">{{ product.price|number_format(2) }}
						€</div>
				{% else %}
					<div class="whitespace-nowrap text-teal-500 font-semibold text-lg font-poppins">{{ product.price|number_format(2) }}
						€</div>
				{% endif %}
			</div>


			<div class="p-2">
				{% if product.stock > 0 %}
					<span class="inline-block whitespace-nowrap text-xs text-gray-500">Available units</span>
					<div class="inline-block whitespace-nowrap text-xs text-gray-500 font-poppins">
						{{product.stock}}</div>
				{% else %}
					<div class="whitespace-nowrap text-teal-500 font-semibold text-lg font-poppins">
						Out of Stock
					</div>
				{% endif %}
			</div>

			<div>
				<a class="float-left btn btn-return" href="{{ path('product_index') }}">back to list</a>
				<a class="float-right btn btn-accept" href="{{ path('basket_add_product', {'productID': product.id}) }}">Add to Cart</a>
			</div>
		</div>
	</div>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
