{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container m-0 m-auto w-5/6 lg:w-2/3 m-auto">
		<p class="mt-4 mb-2">
			<strong class=" text-gray-600 py-2 ">Aviso legal y política de privacidad y cookies</strong>
		</p>

		<p>Al acceder y utilizar este servicio, usted acepta y accede a estar obligado por los términos y disposiciones de este acuerdo. Asimismo, al utilizar estos servicios particulares, usted estará sujeto a toda regla o guía de uso correspondiente que se haya publicado para dichos servicios. Toda participación en este servicio constituirá la aceptación de este acuerdo.</p>
		<p>Si no acepta cumplir con lo anterior, por favor, no lo utilice.</p>
		<p>Según el artículo 10 de la Ley de Servicios de la Sociedad de la Información y del Comercio Electrónico (en adelante, LSSI), de forma obligatoria, permanente, fácil, directa y gratuita, TE INFORMAMOS:</p>
		<p class="mt-4 mb-2 text-center">
			<strong class="text-gray-600 py-2 ">POLÍTICA DE PRIVACIDAD</strong>
		</p>

		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">1 – Responsable del tratamiento de tus datos:</strong>
		</p>

		<p>Identidad: {{companyName}}<br>NIF: {{companyId}}<br>Dirección postal: {{companyDirection}}<br>Teléfono: {{companyMobile}}<br>Correo electrónico: {{ companyEmail}}</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">2.- ¿Cuál es la finalidad del tratamiento de tus datos personales?</strong>
		</p>

		<p>En greenwallestore.com tratamos la información que nos facilitan las personas interesadas con los siguientes fines:</p>
		<p>Con el fin de gestionar el envío de la información que nos soliciten. Facilitar a los interesados ofertas de productos y servicios de su interés. Poder ofrecerle nuestros productos y servicios de acuerdo con sus intereses. Mejorar su experiencia de usuario.</p>
		<p>Para cumplir estos fines elaboraremos un perfil comercial en base a la información facilitada.</p>
		<p>No se tomarán decisiones automatizadas en base a los perfiles de la base de datos.</p>
		<p>Sí se enviarán correos electrónicos automatizados, previamente programados por el titular de los datos o de sus proveedores de servicios o asalariados, con la finalidad de enviar la información de las novedades del blog, y de los productos comerciales que se ofrecerán a través de esta web, tanto si están alojados en ella como en plataformas de terceros proveedores de dicho servicio.</p>
		<p>También utilizaremos todo tipo de cookies que consideremos adecuados a nuestra marca personal.</p>
		<p>Nos das permiso para incluirte en grupos privados de whatsapp para poder notificarte de los horarios de las Masterclass y precios en relación al Máster sobre creación de Ecommerce.</p>
		<p>&nbsp;</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">3.- ¿Cómo puedo darme de baja?</strong>
		</p>

		<p>Si no deseas recibir más emails de&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>, simplemente haz clic en el enlace que encuentras en el pie de todos los emails que enviamos.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">4.- ¿Por cuánto tiempo conservaremos tus datos?</strong>
		</p>

		<p>Los datos personales proporcionados en la web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;se conservarán durante un plazo de diez años a partir de la última confirmación de su interés. También se conservarán mientras se mantenga la relación mercantil. Se harán desaparecer cuando se solicite su supresión o portabilidad por el interesado.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">5.- Legitimación</strong>
		</p>

		<p>El tratamiento de sus datos personales es necesario para el cumplimiento de las obligaciones legales derivadas del Real Decreto 1720/2001 de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999 de 13 de diciembre de protección de datos de carácter personal.</p>
		<p>La base legal para el tratamiento de tus datos es la ejecución de la suscripción online al blog o al formulario de contacto de la web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;así como el acceso a todos los productos adquiridos en dicha web.</p>
		<p>La oferta de productos y servicios está basada en el consentimiento que se te solicita, sin que en ningún caso la retirada de este consentimiento condicione la ejecución de servicios o la entrega de productos pendientes.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">6.- Destinatarios a los que se comunicarán tus datos</strong>
		</p>

		<p>Los datos recogidos a través de esta web NO se comunicarán a otras empresas de terceros.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">7.- ¿Cuáles son tus derechos cuando nos facilitas tus datos?</strong>
		</p>

		<p>Cualquier persona tiene derecho a obtener la confirmación sobre si&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;está tratando datos personales que les conciernan o no. Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos. En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
		<p>En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos.&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;dejará de tratar los datos, salvo por motivos legítimos imperiosos o el ejercicio o la defensa de posibles reclamaciones.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">8.- ¿Cómo hemos obtenido tus datos?</strong>
		</p>

		<p>Los datos personales que tratamos en&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;proceden o bien de la propia web, correo electrónico, mensajería instantánea o correo postal de nuestra empresa o de empresas del grupo. Las categorías de datos que tratamos son: Datos de identificación, códigos o claves de identificación, direcciones postales o electrónicas, información comercial, datos económicos.</p>
		<p>También informamos que no obtenemos datos especialmente protegidos de forma habitual. Si llegan a nuestra empresa datos especialmente protegidos los protegeremos de acuerdo con la normativa vigente.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">CONDICIONES DE CONTRATACIÓN</strong>
		</p>

		<p>A través del estas condiciones legales de contratación, ponemos a disposición del consumidor la información pre-contractual a la que se refiere el artículo 6 de la Directiva 2011/83.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">PRIMERA.- IDENTIFICACION</strong>
		</p>

		<p>Los bienes que se venden a través de la web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;son infoproductos consistentes en libros e-book, cursos online, biblioteca online y membresias. No todos los productos los vendo directamente sino que a través de mi web encontraras el link correspondiente que te dirige a las distintas páginas de venta.</p>
		<p>Algunos productos de esta web son vendidos directamente por Hotmart , sometiéndose las condiciones de contratación a lo establecido por dicha empresa y que tiene a su disposición en el siguiente enlace: https://www.hotmart.com/es/tos/</p>
		<p>Nuestra empresa se exime de cualquier responsabilidad negocial , económica y extranegocial en relación a las compras realizadas por Hotmart a traves de nuestra web. En la página&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;estas contratando realmente con&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>, NIF nº&nbsp;<span style="letter-spacing: 0.2px;">ES33540291N</span>&nbsp;con los datos de contacto y domicilio que figuran en dicha web.</p>
		<p>Recibo la correspondencia física en&nbsp;<span style="letter-spacing: 0.2px;">Calle Ramón María de Valle Inclán 46. Alcalá de Henares, 28806. MADRID, España</span>&nbsp;y los correos en&nbsp;<span style="letter-spacing: 0.2px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); font-size: 1rem;">info@greenwallestore.com</span>
		</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">SEGUNDA.- PRODUCTOS Y PRECIOS</strong>
		</p>

		<p>En la página web pueden adquirirse cursos, formación y servicios de consultoría. Todos ellos aparecen definidos en una ficha y muestran el precio de los mismos. Los precios de los servicios o productos mostrados en nuestra web se indican en euros e incluyen el IVA a no ser que se indique lo contrario.</p>
		<p>Las ofertas están debidamente marcadas e identificadas como tal. Su plazo de validez tiene efectividad mientras aparecen en su pantalla. Dichas ofertas podrán ser modificadas o canceladas sin previo aviso. Servicio de soporte en los cursos: Cuando se esté adquiriendo un curso el cliente debe saber que dispone de un servicio de soporte para plantear todas aquellas dudas surgidas en relación con el temario impartido en el mismo. Ahora bien, dicho soporte sólo puede versar sobre el temario, estando excluido cualquier otro como – entre otros – el soporte técnico para incidencias particulares, soporte relacionado con la tecnología que los soporta, etc. Servicio de soporte en los plugins: Cuando se esté adquiriendo un plugin el cliente debe saber que dispone de un servicio de soporte para plantear todas aquellas dudas surgidas en relación con el uso del mismo. Ahora bien, dicho soporte sólo puede versar sobre el uso del mismo, estando excluidas las incidencias particulares causadas por otros plugins, themes o servicios externos.</p>
		<p>El coste de la técnica de comunicación a distancia es cero, está incluida en el precio del producto.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">TERCERA.- EL PROCESO DE COMPRA</strong>
		</p>

		<p>Para realizar un pedido (de curso, formación y/o consultoría) en nuestra web es necesario registrarse durante el proceso de compra. Nuestra tienda permite crear una cuenta de cliente, con tu dirección de correo electrónico y la contraseña que tú elijas, para facilitar el inicio de sesión y las futuras compras.</p>
		<p>Estos datos serán tratados e incorporados a nuestros ficheros, tal como se informa en nuestro apartado de protección de datos de carácter personal contenido en el Aviso Legal.</p>
		<ul>
			<li>Para realizar una compra, debes elegir el producto o servicio y automáticamente el sistema te redirigirá a la página de pedido (carrito).</li>
			<li>En esta pantalla deberás indicar tu nombre, apellidos y correo (salvo que ya hayas iniciado sesión), además de elegir un método de pago.</li>
			<li>Una vez completado, pulsa el botón “Pagar”.</li>
			<li>Si el método de pago elegido es PayPal deberás validar el pago en la página de dicho proveedor. Y si es pago con tarjeta de crédito, se solicitarán los datos referentes a la misma.</li>
			<li>A continuación se te mostrará una página de confirmación de la compra con un enlace de descarga, si has adquirido un software o descargable, o con una confirmación de contratación, si se trata de un servicio.</li>
			<li>&nbsp;</li>
		</ul>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">FORMAS DE PAGO</strong>
		</p>

		<p>
			<span style="letter-spacing: 0.2px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); font-size: 1rem;">Grupo Green Wall SL</span>&nbsp;ofrece a sus clientes la posibilidad de elegir entre varias formas de pago diferentes:</p>
		<ul>
			<li>Tarjeta de crédito: Si elige esta forma de pago entrará en la página web segura de nuestra entidad financiera, donde se le solicitará el número de su tarjeta y la fecha de caducidad. Para su tranquilidad, se le garantiza una absoluta seguridad, ya que tanto sus datos personales como los de su tarjeta viajan encriptados gracias al servidor seguro SSL proporcionado por esta entidad financiera. Los datos sobre su tarjeta de crédito no quedan registrados en ninguna base de datos sino que van directamente al TPV (Terminal Punto de Venta) del Banco. Asimismo, en ningún momento&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;recibe los datos de su tarjeta, sólo la confirmación de su pago.</li>
			<li>Pago mediante sistema Paypal: Por su seguridad y rapidez, este sistema mundialmente conocido es uno de los más utilizados hoy día en la venta por Internet. Para poder abonar sus compras por medio de este sistema debe disponer de una cuenta Paypal. Para más información visite www.paypal.es</li>
		</ul>
		<p>El sistema técnico de compra, permite la identificación y rectificación de errores antes de realizar la compra.También permite la información de las restricciones de la entrega y las formas de pago de los productos que se venden en esta web.</p>
		<p>En&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;se incluye:</p>
		<ul>
			<li>La justificación de la recepción del producto por el destinatario será a través de la IP y orden de descarga.</li>
			<li>En el sistema del proceso de compra de nuestros productos, existe toda la información del proceso.</li>
		</ul>
		<p>Se considerará que se suscribe el contrato de venta con la aceptación del consentimiento informado.</p>
		<p>El consumidor, antes de 24 horas de la compra, recibirá el justificante de la transacción, y la confirmación de que el procedimiento se ha completado y que es archivado por el destinatario.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">ENTREGA PRODUCTOS</strong>
		</p>

		<p>En relación a las fechas de entrega, cuando se trate de infoproductos, la entrega se realizará de forma inmediata, y cuando se trate de la prestación de servicios, se notificará personalmente el plazo de ejecución del servicio.</p>
		<p>La adquisición realizada de infoproductos descargables de forma inmediata, se inicia con el pago del producto y finaliza en el momento de su descarga.</p>
		<p>El acceso a la biblioteca digital o membresía, finaliza en el momento en que el comprador deje de pagar sus cuotas, siendo necesario para ello, el aviso previo dentro del mes anterior en que dicho acceso ya no desea ser contratado.</p>
		<p>No hay una duración mínima en que el comprador se vea obligado a mantener nuestras relaciones comerciales.</p>
		<p>En la compra de nuestros productos no hay que aportar ningún tipo de garantía financiera ni depósito.</p>
		<p>En cuanto al soporte material en que se recibirán será mediante descarga, con mayor o menor calidad e interoperabilidad en función de las concretas características del producto digital adquirido. No hay limitación geográfica de acceso a los contenidos que se venden en nuestra web.</p>
		<p>Los productos vendidos en nuestra web gozan de todos los derechos de protección de propiedad intelectual y otras garantías legales.</p>
		<p>También se utilizan todas las medidas técnicas necesarias para garantizar la seguridad de la compra y el acceso a los productos digitales de forma segura.</p>
		<p>La interoperabilidad o la capacidad que tiene nuestro producto o sistema, cuyas interfaces son totalmente conocidas, para funcionar con otros productos o sistemas existentes o futuros, sin restricción de acceso o de implementación irá en función de las necesidades técnicas y organizativas que en cada momento sean necesarias para vender los productos y prestar los servicios que se ofrecen al consumidor.</p>
		<p>El archivo del documento electrónico se hará en formato digital en los archivos electrónicos que custodia la empresa.</p>
		<p>La web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;está preparada técnicamente para identificar y corregir los errores en la introducción de los datos, siendo estos medios técnicos variables en función de la evolución de los mismos.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">CUARTA.- ANULACIÓN Y DEVOLUCIONES</strong>
		</p>

		<p>El cliente de nuestra tienda online se compromete en todo momento a facilitar información veraz sobre los datos solicitados en los diferentes formularios de compra. En el supuesto de la venta o comercialización de productos de nuestro sitio web que requieran que el comprador tenga una determinada edad según la legislación vigente de su país de origen, el comprador manifiesta que cumple dicho requisito para formalizar la compra.</p>
		<p>El derecho de desistimiento se podrá ejercer durante los 15 días siguientes a la compra realizada del servicio, no siendo aplicable a los productos digitales por poderlos usar en dicho plazo y no ser un desistimiento real. El derecho de desistimiento no será aplicable a los contratos que se refieran a suministro de contenido digital (programas, aplicaciones, juegos, música, vídeos o textos informáticos, tanto por descarga o emisión en tiempo real), que no se preste en un soporte material cuando la ejecución haya comenzado.</p>
		<p>Así que cuando el cliente esté adquiriendo un producto descargable y esta descarga ya se haya iniciado pierde su derecho de desistimiento.</p>
		<p>Para ejercer ese derecho, puede rellenar el formulario que encontrara en esta web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;y enviarlo al correo electrónico que en el mismo consta.</p>
		<p>Al ser productos digitales, no existen gastos materiales de devolución del producto, porque se limita únicamente el acceso, por tanto no habrá reembolso de gastos.</p>
		<p>Si se realizara el derecho de desistimiento para los servicios prestados y se hubiera hecho algún pago por cuenta del cliente, este lo pagará igualmente o se le descontará de la cantidad a devolver por la prestación del servicio.</p>
		<p>En relación a los servicios si estos no se han podido prestar por falta de cooperación del cliente, este perderá el derecho a la devolución de lo pagado.</p>
		<p>La asistencia posventa de los infoproductos adquiridos será gratuita si se refiere a dificultades de descarga.</p>
		<p>No están incluidas como gratuitas las consultas que se produzcan como consecuencia de la entrega del material adquirido.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">NORMATIVA APLICABLE</strong>
		</p>

		<p>Esta página y sus componentes se ofrecen únicamente con fines informativos.&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>, titular de esta página no se hace responsable de la exactitud, utilidad o disponibilidad de cualquier información que se transmita o ponga a disposición a través de la misma; no será responsable por cualquier error u omisión en dicha información.</p>
		<p>Los usuarios de esta página que den sus datos personales, con la aceptación del consentimiento informado renuncian a cualquier indemnización que por el uso legal de esos datos les pudiera corresponder, no pudiendo ejercer ninguna reclamación legal por ello. De querer ostentarla, no deben ceder sus datos en este sitio web.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">PROPIEDAD INTELECTUAL</strong>
		</p>

		<p>El Usuario reconoce y acepta que todos los derechos de propiedad industrial e intelectual sobre los contenidos y cualesquiera otros elementos insertados en el Sitio Web pertenecen a&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>.</p>
		<p>La totalidad del contenido del sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, imágenes, material gráfico o artístico presente en la web, son propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores.</p>
		<p>Todos los contenidos del sitio web están protegidos por derechos de propiedad industrial e intelectual, inscritos en los correspondientes registros públicos bajo la titularidad de&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso del Portal.</p>
		<p>Se autoriza a cualquier persona física o jurídica el establecimiento en sus páginas o sitios web de enlaces a la web, tanto a su página principal como a cualquiera de sus páginas. No obstante, se prohíben expresamente los enlaces a cualquiera de las páginas del sitio web que impliquen el visionado de las mismas en el navegador por medio de marcos o frames.</p>
		<p>Todos los contenidos que se muestran en esta web, así como los infoproductos a la venta están sujetos y protegidos por los derechos de propiedad intelectual e industrial.</p>
		<p>No está permitido la alteración, explotación, reproducción, distribución o comunicación pública y puesta a disposición sobre los contenidos del curso sin la previa autorización expresa del titular de la web. La página y su contenido original, las características y la funcionalidad son propiedad de&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;y están protegidos por derechos de autor de carácter internacional, marcas registradas, patentes, secretos comerciales y demás leyes de propiedad intelectual o de derechos de propiedad.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">PROTECCION DE DATOS</strong>
		</p>

		<p>De acuerdo con la normativa vigente en materia de protección de datos, así como en materia de servicios de la sociedad de la información y de comercio electrónico, el Usuario acepta que los datos personales aportados en el momento de su registro o cualquier otro facilitado a&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>, para su acceso a algunos de los servicios (suscripción a cursos, contratación de formación online, solicitud de formación presencial, solicitud de servicios de consultoría, descarga de software, etc) sean incorporados al fichero de clientes, potenciales y contactos de&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>, con la finalidad de recabar los datos necesarios para dar respuesta a las solicitudes de información, contacto, contratación y/o de presupuesto, gestión de clientes, facturación, cobros y pagos, obtención de estadísticas e históricos comerciales.</p>
		<p>También para el cumplimiento de las obligaciones fiscales y legales derivadas de la prestación de este servicio.</p>
		<p>Además, serán utilizados para hacerle llegar información, incluso por medios electrónicos (correo electrónico SMS, etc.) sobre productos y servicios relacionados con los contratados o solicitados. En el caso de comunicaciones comerciales mediante correo electrónico o medio equivalente, el usuario presta su consentimiento expreso para el envío de comunicaciones a través de dicho medio.</p>
		<p>Nuestra empresa tiene implantadas las medidas de índole técnica y organizativas necesarias para garantizar la seguridad, confidencialidad e integridad de los datos de carácter personal que trata. Por último te informamos que puedes ejercitar los derechos de acceso, rectificación, cancelación , oposición y portabilidad y olvido en&nbsp;<span style="letter-spacing: 0.2px; color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); font-size: 1rem;">Grupo Green Wall SL</span>
			<span style="color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); font-size: 1rem; letter-spacing: 0.2px;">, mediante correo gratuito enviado a&nbsp;</span>
			<span style="letter-spacing: 0.2px;">info@greenwallestore.com</span>
			<span style="color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); font-size: 1rem; letter-spacing: 0.2px;">&nbsp;y bajo los términos previstos en la Ley Orgánica 15/99 y normativa de desarrollo y por los procedimientos definidos al efecto por esta empresa.</span>
		</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">MENORES DE EDAD</strong>
		</p>

		<p>Nuestros servicios y productos son para mayores de 18 años. Los menores de esta edad no están autorizados a utilizar nuestros servicios y no deberán, por tanto, enviarnos sus datos personales.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">COOKIES</strong>
		</p>

		<p>Por la mera visita a la web, los Usuarios no facilitan información personal alguna ni quedan obligados a ello.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">DEFINICIÓN Y FUNCIÓN DE LAS COOKIES</strong>
		</p>
		<p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">¿QUÉ TIPOS DE COOKIES UTILIZA ESTA PÁGINA WEB?</strong>
		</p>

		<p>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</p>
		<p>Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos. Cookies de análisis: Se analiza su navegación utilizando programas de analítica web que recaban información referente al usuario de la web (IP, principalmente), así como la navegación que éste ha realizado (origen, visitas, tiempo en la página, etc).</p>
		<p>Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</p>
		<p>Cookies de terceros: Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba indicados.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">¿CÓMO ADMINISTRAR COOKIES EN EL NAVEGADOR?</strong>
		</p>

		<p>El usuario acepta expresamente, por la utilización de este Site, el tratamiento de la información recabada en la forma y con los fines anteriormente mencionados. Y asimismo reconoce conocer la posibilidad de rechazar el tratamiento de tales datos o información rechazando el uso de Cookies mediante la selección de la configuración apropiada a tal fin en su navegador.</p>
		<p>Si bien esta opción de bloqueo de Cookies en su navegador puede no permitirle el uso pleno de todas las funcionalidades del Website. Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador: Chrome, Explorer, Firefox, Safari.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">POLÍTICA DE ENLACES DE NUESTRA WEB: RESPONSABILIDAD</strong>
		</p>

		<p>El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo. El servicio de acceso al Portal incluye enlaces o links que pueden conducir al usuario a otros sitios y páginas web gestionados por terceros, sobre las que&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;no ejerce ningún tipo de control. En estos casos,&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;actúa como prestador de servicios de intermediación de conformidad con lo dispuesto en el artículo 17 de la LSSICE.&nbsp;<span style="letter-spacing: 0.2px;">Grupo Green Wall SL</span>&nbsp;no responde ni de los contenidos ni del estado de dichos sitios y páginas web. El prestador no se hace responsable de la información y contenidos almacenados, a título enunciativo pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales o cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web del prestador. No obstante y en cumplimiento de lo dispuesto en el art. 11 y 16 de la LSSICE, el prestador se pone a disposición de todos los usuarios, autoridades y fuerzas de seguridad, y colaborando de forma activa en la retirada o en su caso bloqueo de todos aquellos contenidos que pudieran afectar o contravenir la legislación nacional, o internacional, derechos de terceros o la moral y el orden público.</p>
		<p>No queremos que nos enlacen a otras páginas, quedando prohibido deep-links, enlaces IMG o de imagen, frames, que puedan hacer entender al usuario que están en otra web que no es la nuestra.</p>
		<p>El Usuario debe ser consciente de que nuestra empresa no es responsable de las prácticas de privacidad de esas otras webs. Recomendamos a los usuarios que sean conscientes de que al utilizar uno de estos links están abandonando nuestra web y que lean las políticas de privacidad de esas otras webs que recaben datos personales. La presente política de privacidad sólo se aplica a los datos personales recabados a través de esta web.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">CLÁUSULA DE RESCISIÓN</strong>
		</p>

		<p>Podemos cancelar tu acceso a la página, sin causa o aviso, lo cual podrá resultar en la incautación y destrucción de toda la información que esté asociada con su cuenta. Todas las disposiciones de este acuerdo que, por su naturaleza, deban sobrevivir a la cancelación sobrevivirán a ella, incluyendo sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">CAMBIOS DE CONDICIONES</strong>
		</p>

		<p>La empresa se reserva el derecho de modificar estas condiciones cuando lo considere oportuno; asimismo, el uso permanente de la página significará su aceptación de cualquier ajuste a tales términos. Si hay algún cambio en nuestra política de privacidad, anunciaremos en nuestra página principal y en otras páginas importantes de nuestro sitio que se han hecho tales cambios. Si hay algún cambio en nuestra página respecto a la manera en que usamos la información de identificación personal de nuestros clientes, enviaremos una notificación por correo electrónico o correo postal a aquellos que sean afectados por el cambio. Todo cambio en nuestra política de privacidad se publicará en nuestra página 30 días antes de que tales cambios ocurran. Por lo tanto, se le recomienda volver a leer esta declaración de manera regular”.</p>
		<p class="mt-4 mb-2">
			<strong class="text-gray-600 py-2 ">SOMETIMIENTO A TRIBUNALES</strong>
		</p>

		<p>El código de conducta de&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;es el derivado de la correcta aplicación de las leyes existentes, así como de la aplicación de las mismas desde el sentido común.</p>
		<p>Con renuncia de sus propios fueros, las personas que contraten a través de la web&nbsp;<span style="letter-spacing: 0.2px;">greenwallestore.com</span>&nbsp;se someten expresamente a los Juzgados y Tribunales de Madrid.</p>
		<p>&nbsp;</p>
	</div>

{% endblock %}
